### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)

# Starter notebook information

![starter_2_purchase_data](Images/starter_purchase_data.jpg)

In [2]:
purchase_data_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

# Starter notebook information

![starter__player_count](Images/starter_player_count.jpg)

In [3]:
# Get the length of the series created by doing a value_count on pu
total_players = len(purchase_data_df["SN"].value_counts())

total_players

576

In [4]:
# Create a DataFrame of the result and update with total_players
total_player_count = pd.DataFrame({"Total Players":[total_players]})
total_player_count

   Total Players
0            576

## Purchasing Analysis (Total)

# Starter notebook information

![starter__purchasing_analysis_total](Images/starter_purchasing_analysis_total.jpg)

In [5]:
unique_items = len(purchase_data_df['Item ID'].value_counts())
unique_items

179

In [6]:
average_price = purchase_data_df['Price'].sum() / purchase_data_df['Purchase ID'].count()
average_price

3.0509871794871795

In [7]:
number_purchases = purchase_data_df['Purchase ID'].count()
number_purchases

780

In [8]:
total_revenue = purchase_data_df['Price'].sum()
total_revenue

2379.77

In [9]:
purchasing_totals_df = pd.DataFrame({"Number of Unique Items":[unique_items],
                                    "Average Price":[average_price],
                                    "Number of Purchases":[number_purchases],
                                    "Total Revenue":[total_revenue]  
                                    },)
purchasing_totals_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [10]:
#purchasing_totals_df.style.format({"Average Price": "${:20,.2f}"})
purchasing_totals_df["Average Price"] = purchasing_totals_df["Average Price"].map("${:,.2f}".format)
purchasing_totals_df["Total Revenue"] = purchasing_totals_df["Total Revenue"].map("${:,.2f}".format)
purchasing_totals_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

# Starter notebook information

![starter_gender_demographics](Images/starter_gender_demographics.jpg)

In [11]:
# Group purchase_data by Gender
grouped_gender_df = purchase_data_df.groupby("Gender")

# Count the total of screen names "SN" by gender
total_all_genders = grouped_gender_df.nunique()["SN"]

# Total count by gender and divivde by total players 
percentage_of_players = total_all_genders / total_players

In [12]:
percentage_of_players

Gender
Female                   0.140625
Male                     0.840278
Other / Non-Disclosed    0.019097
Name: SN, dtype: float64

In [13]:
# Add the data into the summary DataFram3e
gender_percent_summary_df = pd.DataFrame({"Total Count": total_all_genders,"Percentage of Players": percentage_of_players})

# Sort the data by Total Count
sorted_gender_percent_summary_df = gender_percent_summary_df.sort_values('Total Count',ascending=False)

sorted_gender_percent_summary_df.head()

                       Total Count  Percentage of Players
Gender
Male                           484               0.840278
Female                          81               0.140625
Other / Non-Disclosed           11               0.019097

In [14]:
sorted_gender_percent_summary_df["Percentage of Players"] = sorted_gender_percent_summary_df["Percentage of Players"].map("{:.2%}".format)
sorted_gender_percent_summary_df.head()

                       Total Count Percentage of Players
Gender
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

## Purchasing Analysis (Gender)

# Starter notebook information

![starter_purchasing_analysis_gender](Images/starter_purchasing_analysis_gender.jpg)

## Age Demographics

# Starter notebook information

![starter_age_demographics](Images/starter_age_demographics.jpg)

## Purchasing Analysis (Age)

# Starter notebook information

![starter_purchasing_analysis_age](Images/starter_purchasing_analysis_age.jpg)

## Top Spenders

# Starter notebook information

![starter_top_spenders](Images/starter_top_spenders.jpg)

## Most Popular Items

# Starter notebook information

![starter_most_popular_items](Images/starter_most_popular_items.jpg)

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

# Starter notebook information

![starter_most_profitable_items](Images/starter_most_profitable_items.jpg)