### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)

In [2]:
purchase_data_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [3]:
#	Total Players
#----------------
#0	          576

In [4]:
# Get the length of the series created by doing a value_count on pu
total_players = len(purchase_data_df["SN"].value_counts())

total_players

576

In [5]:
# Create a DataFrame of the result and update with total_players
total_player_count = pd.DataFrame({"Total Players":[total_players]})
total_player_count

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
#	Number of Unique Items	Average Price	Number of Purchases	Total Revenue
#----------------------------------------------------------------------------    
#0	1                   79	        $3.05	                780	    $2,379.77

In [7]:
unique_items = len(purchase_data_df['Item ID'].value_counts())
unique_items

179

In [8]:
average_price = purchase_data_df['Price'].sum() / purchase_data_df['Purchase ID'].count()
average_price

3.0509871794871795

In [9]:
number_purchases = purchase_data_df['Purchase ID'].count()
number_purchases

780

In [10]:
total_revenue = purchase_data_df['Price'].sum()
total_revenue

2379.77

In [11]:
purchasing_totals_df = pd.DataFrame({"Number of Unique Items":[unique_items],
                                    "Average Price":[average_price],
                                    "Number of Purchases":[number_purchases],
                                    "Total Revenue":[total_revenue]  
                                    },)
purchasing_totals_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [12]:
#purchasing_totals_df.style.format({"Average Price": "${:20,.2f}"})
purchasing_totals_df["Average Price"] = purchasing_totals_df["Average Price"].map("${:,.2f}".format)
purchasing_totals_df["Total Revenue"] = purchasing_totals_df["Total Revenue"].map("${:,.2f}".format)
purchasing_totals_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [13]:
#	                 Total Count	Percentage of Players
#               Male	     484	               84.03%
#               Female	      81	               14.06%
#Other / Non-Disclosed	      11	                1.91%

In [15]:
# Group purchase_data by Gender
grouped_gender_df = purchase_data_df.groupby("Gender")

# Count the total of screen names "SN" by gender
total_all_genders = grouped_gender_df.nunique()["SN"]

# Total count by gender and divivde by total players 
percentage_of_players = total_all_genders / total_players

In [16]:
percentage_of_players

Gender
Female                   0.140625
Male                     0.840278
Other / Non-Disclosed    0.019097
Name: SN, dtype: float64

In [17]:
# Add the data into the summary DataFram3e
gender_percent_summary_df = pd.DataFrame({"Total Count": total_all_genders,"Percentage of Players": percentage_of_players})

# Sort the data by Total Count
sorted_gender_percent_summary_df = gender_percent_summary_df.sort_values('Total Count',ascending=False)

sorted_gender_percent_summary_df.head()

                       Total Count  Percentage of Players
Gender
Male                           484               0.840278
Female                          81               0.140625
Other / Non-Disclosed           11               0.019097

In [18]:
sorted_gender_percent_summary_df["Percentage of Players"] = sorted_gender_percent_summary_df["Percentage of Players"].map("{:.2%}".format)
sorted_gender_percent_summary_df.head()

                       Total Count Percentage of Players
Gender
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:

Purchase Count	Average Purchase Price	Total Purchase Value	Avg Total Purchase per Person
Gender				
Female	113	$3.20	$361.94	$4.47
Male	652	$3.02	$1,967.64	$4.07
Other / Non-Disclosed	15	$3.35	$50.19	$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [ ]:
	Total Count	Percentage of Players
<10	17	2.95%
10-14	22	3.82%
15-19	107	18.58%
20-24	258	44.79%
25-29	77	13.37%
30-34	52	9.03%
35-39	31	5.38%
40+	12	2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
	Purchase Count	Average Purchase Price	Total Purchase Value	Avg Total Purchase per Person
Age Ranges				
<10	23	$3.35	$77.13	$4.54
10-14	28	$2.96	$82.78	$3.76
15-19	136	$3.04	$412.89	$3.86
20-24	365	$3.05	$1,114.06	$4.32
25-29	101	$2.90	$293.00	$3.81
30-34	73	$2.93	$214.00	$4.12
35-39	41	$3.60	$147.67	$4.76
40+	13	$2.94	$38.24	$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:

Purchase Count	Average Purchase Price	Total Purchase Value
SN			
Lisosia93	5	$3.79	$18.96
Idastidru52	4	$3.86	$15.45
Chamjask73	3	$4.61	$13.83
Iral74	4	$3.40	$13.62
Iskadarya95	3	$4.37	$13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
		Purchase Count	Item Price	Total Purchase Value
Item ID	Item Name			
92	Final Critic	13	$4.61	$59.99
178	Oathbreaker, Last Hope of the Breaking Storm	12	$4.23	$50.76
145	Fiery Glass Crusader	9	$4.58	$41.22
132	Persuasion	9	$3.22	$28.99
108	Extraction, Quickblade Of Trembling Hands	9	$3.53	$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [ ]:

Purchase Count	Item Price	Total Purchase Value
Item ID	Item Name			
92	Final Critic	13	$4.61	$59.99
178	Oathbreaker, Last Hope of the Breaking Storm	12	$4.23	$50.76
82	Nirvana	9	$4.90	$44.10
145	Fiery Glass Crusader	9	$4.58	$41.22
103	Singed Scalpel	8	$4.35	$34.80