### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)

# Starter Notebook Information

![starter_2_purchase_data](Images/starter_purchase_data.jpg)

In [2]:
purchase_data_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

# Starter Notebook Information

![starter__player_count](Images/starter_player_count.jpg)

In [3]:
# Get the length of the series created by doing a value_count on pu
total_players = len(purchase_data_df["SN"].value_counts())

total_players

576

In [4]:
# Create a DataFrame of the result and update with total_players
total_player_count = pd.DataFrame({"Total Players":[total_players]})
total_player_count

   Total Players
0            576

## Purchasing Analysis (Total)

# Starter Notebook Information

![starter__purchasing_analysis_total](Images/starter_purchasing_analysis_total.jpg)

In [5]:
unique_items = len(purchase_data_df['Item ID'].value_counts())
unique_items

179

In [6]:
average_price = purchase_data_df['Price'].sum() / purchase_data_df['Purchase ID'].count()
average_price

3.0509871794871795

In [7]:
number_purchases = purchase_data_df['Purchase ID'].count()
number_purchases

780

In [8]:
total_revenue = purchase_data_df['Price'].sum()
total_revenue

2379.77

In [9]:
purchasing_totals_df = pd.DataFrame({"Number of Unique Items":[unique_items],
                                    "Average Price":[average_price],
                                    "Number of Purchases":[number_purchases],
                                    "Total Revenue":[total_revenue]  
                                    },)
purchasing_totals_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [10]:
#purchasing_totals_df.style.format({"Average Price": "${:20,.2f}"})
purchasing_totals_df["Average Price"] = purchasing_totals_df["Average Price"].map("${:,.2f}".format)
purchasing_totals_df["Total Revenue"] = purchasing_totals_df["Total Revenue"].map("${:,.2f}".format)
purchasing_totals_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

# Starter Notebook Information

![starter_gender_demographics](Images/starter_gender_demographics.jpg)

In [11]:
# Group purchase_data by Gender
grouped_gender_df = purchase_data_df.groupby("Gender")

In [12]:
# Count the total of screen names "SN" by gender
total_sn_by_gender = grouped_gender_df.nunique()["SN"]
total_sn_by_gender

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [13]:
# Total count by gender and divivde by total players 
percentage_of_players = total_sn_by_gender / total_players
percentage_of_players

Gender
Female                   0.140625
Male                     0.840278
Other / Non-Disclosed    0.019097
Name: SN, dtype: float64

In [14]:
# Add the data into the summary DataFram3e
gender_percent_summary_df = pd.DataFrame({"Total Count": total_sn_by_gender,"Percentage of Players": percentage_of_players})
gender_percent_summary_df

                       Total Count  Percentage of Players
Gender
Female                          81               0.140625
Male                           484               0.840278
Other / Non-Disclosed           11               0.019097

In [15]:
# Sort the data by Total Count
sorted_gender_percent_summary_df = gender_percent_summary_df.sort_values('Total Count',ascending=False)
sorted_gender_percent_summary_df

                       Total Count  Percentage of Players
Gender
Male                           484               0.840278
Female                          81               0.140625
Other / Non-Disclosed           11               0.019097

In [16]:
sorted_gender_percent_summary_df["Percentage of Players"] = sorted_gender_percent_summary_df["Percentage of Players"].map("{:.2%}".format)
sorted_gender_percent_summary_df.head()

                       Total Count Percentage of Players
Gender
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

## Purchasing Analysis (Gender)

# Starter Notebook Information

![starter_purchasing_analysis_gender](Images/starter_purchasing_analysis_gender.jpg)

In [17]:
gender_number_purchases = grouped_gender_df['Purchase ID'].count()
gender_number_purchases

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [18]:
gender_average_price = grouped_gender_df['Price'].sum() / grouped_gender_df['Purchase ID'].count()
gender_average_price

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
dtype: float64

In [19]:
gender_total_revenue = grouped_gender_df['Price'].sum()
gender_total_revenue

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [20]:
# Group purchase_data by Gender
grouped_sn_gender_df = purchase_data_df.groupby(["SN","Gender"])
grouped_sn_gender_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [21]:
total_purchase_gender_by_sn = grouped_sn_gender_df['Price'].sum()
total_purchase_gender_by_sn

SN             Gender
Adairialis76   Male      2.28
Adastirin33    Female    4.48
Aeda94         Male      4.91
Aela59         Male      4.32
Aelaria33      Male      1.79
                         ...
Yathecal82     Female    6.22
Yathedeu43     Male      6.02
Yoishirrala98  Female    4.58
Zhisrisu83     Male      7.89
Zontibe81      Male      8.03
Name: Price, Length: 576, dtype: float64

In [22]:
average_total_purchase_by_gender = total_purchase_gender_by_sn.groupby('Gender').mean()
average_total_purchase_by_gender

Gender
Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
Name: Price, dtype: float64

In [23]:
# Add the data into the summary DataFram3e
purchasing_analysis_gender_df = pd.DataFrame({"Purchase Count": gender_number_purchases,
                                              "Average Purchase Price": gender_average_price,
                                              "Total Purchase Value": gender_total_revenue,
                                             "Average Total Purchase Per Person": average_total_purchase_by_gender
                                            })
purchasing_analysis_gender_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase Per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

In [24]:
purchasing_analysis_gender_df["Average Purchase Price"] = purchasing_analysis_gender_df["Average Purchase Price"].map("${:,.2f}".format)
purchasing_analysis_gender_df["Total Purchase Value"] = purchasing_analysis_gender_df["Total Purchase Value"].map("${:,.2f}".format)
purchasing_analysis_gender_df["Average Total Purchase Per Person"] = purchasing_analysis_gender_df["Average Total Purchase Per Person"].map("${:,.2f}".format)
purchasing_analysis_gender_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase Per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

# Starter notebook information

![starter_age_demographics](Images/starter_age_demographics.jpg)

## Purchasing Analysis (Age)

# Starter notebook information

![starter_purchasing_analysis_age](Images/starter_purchasing_analysis_age.jpg)

## Top Spenders

# Starter notebook information

![starter_top_spenders](Images/starter_top_spenders.jpg)

## Most Popular Items

# Starter notebook information

![starter_most_popular_items](Images/starter_most_popular_items.jpg)

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

# Starter notebook information

![starter_most_profitable_items](Images/starter_most_profitable_items.jpg)